@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%
}

body {
  font-family: 'poppins',sans-serif;
  position: relative;
  margin: auto;
  transition: all .2s linear;
  background: #f5f5f5;
}

.game_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  position: fixed;
  bottom: 0;
  padding: 5rem 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding: 1.2rem;
  background: orange;
}

p#score {
  justify-self: center;
  font-size: 2rem;
  padding: 1.5rem;
  justify-items: center;
}

.btn_choice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.btn_choice .btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
}

.btn_choice .btn_container p{
  font-size: 2rem;
}

.btn_choice {
  justify-content: flex-end;
}

.btn_choice .btn_container button {
  width: 15rem;
  height: 15rem;
  font-size: 9rem;
  border-radius: 50%;
  margin: 0 10px;
  border: 1px solid rgb(193, 193, 193);
  outline: none;
  background: rgb(220, 219, 219);
  transition: all .2s ease-in;

  &:hover {
    cursor: pointer;
    background: rgb(143, 140, 0);
  }
  &:active{
    background: rgb(177, 160, 7);
  }
}

/* CSS for blinking background */
@keyframes blinkWin {
  0% { background-color: lightgreen; }
  50% { background-color: #f5f5f5; }
  100% { background-color: lightgreen; }
}

@keyframes blinkLose {
  0% { background-color: lightcoral; }
  50% { background-color: #f5f5f5; }
  100% { background-color: lightcoral; }
}

.win {
  animation: blinkWin 1s ease 2; /* Blink twice for 1 second */
  transition: all .2s;
}

.lose {
  animation: blinkLose 1s ease 2; /* Blink twice for 1 second */
  transition: all .2s;

}






